opensearch-py
beautifulsoup4
lxml
sentence-transformers
shapely
requests

# LlamaIndex Core and Connectors
llama-index
llama-index-embeddings-azure-openai
llama-index-embeddings-huggingface
llama-index-vector-stores-opensearch
python-dotenv
